################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/VS2019/ConsoleApp1/.vs/ConsoleApp1/v16
/VS2019/ConsoleApp1/ConsoleApp1/obj/Debug
/VS2019/ConsoleApp1/ConsoleApp1/bin/Debug
/VS2019/ConsoleApp1/.vs/ConsoleApp1/config
/VS2019/ConsoleApp1/DataAccess/obj/Debug
/VS2019/ConsoleApp1/DataAccess/bin/Debug
/VS2019/ConsoleApp1/DataAccess/obj/Release
/VS2019/ConsoleApp1/DataAccess/bin/Release
