@{
    ViewBag.Title = "Reports";
}
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/Chart.js"></script>

<h2>Reports</h2>
Start Date<input type="date" id="StartDate" onchange="renderChart();" />
End Date <input type="date" id="EndDate" onchange="renderChart();" />

<br />
Period
<select id="Period" style="width:100px" onchange="renderChart();">
    <option value="daily">Daily</option>
    <option value="monthly">Monthly</option>
    @*<option value="yearly">Yearly</option>*@
</select>

Type
<select id="Type" style="width:200px" onchange="renderChart();">
    <option value="wasted">Wasted</option>
    <option value="wastedPercent">Wasted %</option>
    <option value="wastedCO2">Wasted CO2 Emission</option>
    <option value="unused">Unused</option>
    <option value="unusedPercent">Unused %</option>
    <option value="unusedCO2">Unused CO2 Emission</option>
</select>


@*<select id="SingleDouble" style="width:100px">
    <option value="Single">Single</option>
    <option value="Compare">Compare</option>
</select>*@

<br />

Region
<select id="Region" style="width:100px">
    <option value="All">All</option>
</select>

Country
<select id="Country" style="width:100px">
    <option value="All">All</option>
</select>

City
<select id="City" style="width:100px">
    <option value="All">All</option>
</select>

Office
<select id="Office" style="width:100px">
    <option value="All">All</option>
</select>
<button id="btnRun" onclick="renderChart();">Run</button>

<br />

<div style="width:900px;height:800px;">
    <canvas id="myChart"></canvas>
</div>

<script>
   

    function getRegion() {
          $.ajax({
                type: "get",
                url: "/Report/GetLocations/All/All",

                success: function (data) {
                    var sData = new String(data);
                    var splitData = sData.split(',');
                    $('#Region').html('');
                    $('#Region').append("<option value='All'>All</option>");
                    $('#Country').html('');
                    $('#Country').append("<option value='All'>All</option>");
                     $('#City').html('');
                    $('#City').append("<option value='All'>All</option>");
                      $('#Office').html('');
                    $('#Office').append("<option value='All'>All</option>");
                    for (var i = 0; i < splitData.length; i++) {

                       $('#Region').append("<option value='" + splitData[i] + "'>" + splitData[i] + "</option>");
                    }
                    renderChart();
                }
            });
    }

    function getCountry() {
         $('#Region').change(function () {
            $.ajax({
                type: "get",
                url: "/Report/GetLocations/Region/" + $('#Region').val(),

                success: function (data) {
                    var sData = new String(data);
                    var splitData = sData.split(',');
                    $('#Country').html('');
                    $('#Country').append("<option value='All'>All</option>");
                     $('#City').html('');
                    $('#City').append("<option value='All'>All</option>");
                      $('#Office').html('');
                    $('#Office').append("<option value='All'>All</option>");
                    for (var i = 0; i < splitData.length; i++) {

                       $('#Country').append("<option value='" + splitData[i] + "'>" + splitData[i] + "</option>");
                    }
                   renderChart();
                }
            });
        });
    }

    function getCity() {
         $('#Country').change(function () {
            $.ajax({
                type: "get",
                url: "/Report/GetLocations/Country/" + $('#Country').val(),

                success: function (data) {
                    var sData = new String(data);
                    var splitData = sData.split(',');
                    $('#City').html('');
                    $('#City').append("<option value='All'>All</option>");
                      $('#Office').html('');
                    $('#Office').append("<option value='All'>All</option>");
                    for (var i = 0; i < splitData.length; i++) {

                       $('#City').append("<option value='" + splitData[i] + "'>" + splitData[i] + "</option>");
                    }
                   renderChart();
                }
            });
        });
    }

    function getOffice() {
         $('#City').change(function () {
            $.ajax({
                type: "get",
                url: "/Report/GetLocations/City/" + $('#City').val(),

                success: function (data) {
                    var sData = new String(data);
                    var splitData = sData.split(',');
                    $('#Office').html('');
                    $('#Office').append("<option value='All'>All</option>");
                    for (var i = 0; i < splitData.length; i++) {

                       $('#Office').append("<option value='" + splitData[i] + "'>" + splitData[i] + "</option>");
                    }
                   renderChart();
                }
            });
        });
    }

      function renderChartOnOfficeChange() {
         $('#Office').change(function () {
           renderChart();
        });
    }
     var myChart;
    function renderChart() {

        var region = $('#Region').val();
        var country = $('#Country').val();
         var city = $('#City').val();
         var office = $('#Office').val();
         var period = $('#Period').val();
         var StartDate = $('#StartDate').val();
         var EndDate = $('#EndDate').val();
        var type = $('#Type').val();
        var ctx = document.getElementById("myChart").getContext("2d");

        var chartOptions = {
            legend: {
                display: false,
                position: 'top',
                labels: {
                    boxWidth: 20,
                    fontColor: 'blue'
                },
                responsive: false,
                
            },
            backgroundColor:'red'
        };

       

          $.ajax({
                type: "get",
                url: "/Report/ChartsDataByAPI/" + region + "/"+  country + "/" + city + "/" + office + "/" + type + "/" + period + "/" + StartDate + "/" + EndDate ,

              success: function (data) {

                  if (myChart) {
                       myChart.destroy();
                  }

                   myChart = new Chart(ctx, {
                        type: 'bar',
                        data: data,
                        options: chartOptions
                   });

                   
                }
            });
    }

    $(() => {

        var today = new Date();

        var newDate = new Date(today.setMonth(today.getMonth()-2));
        $('#StartDate').val(newDate.toISOString().substr(0, 10));

        var todayforEnd = new Date();
        $('#EndDate').val(todayforEnd.toISOString().substr(0, 10));

        getRegion();
        getCountry();
        getCity();
        getOffice();
        renderChartOnOfficeChange();
        renderChart();
    });



</script>



